<%- model_class = Consultation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:patient_name) %>:</strong></dt>
  <dd><%= @consultation.patient_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @consultation.patient_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @consultation.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sittings) %>:</strong></dt>
  <dd><%= @consultation.sittings %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_compliant) %>:</strong></dt>
  <dd><%= @consultation.current_compliant %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imp_pat_info) %>:</strong></dt>
  <dd><%= @consultation.imp_pat_info %></dd>
  <dt><strong><%= model_class.human_attribute_name(:init_diagnosis) %>:</strong></dt>
  <dd><%= @consultation.init_diagnosis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alt_diagnosis) %>:</strong></dt>
  <dd><%= @consultation.alt_diagnosis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remarks) %>:</strong></dt>
  <dd><%= @consultation.remarks %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_medication) %>:</strong></dt>
  <dd><%= @consultation.current_medication %></dd>
  <dt><strong><%= model_class.human_attribute_name(:next_consult_date) %>:</strong></dt>
  <dd><%= @consultation.next_consult_date %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              consultations_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_consultation_path(@consultation), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              consultation_path(@consultation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
